/* COLORS */
/* 
#264653
#2a9d8f
#e9c46a
#f4a261
#e76f51
ghostwhite
floralwhite
*/

/* GENERAL */
body {
    display: flex;
    font-family: 'Indie Flower', sans-serif;
    height: 100vh;
    margin: 0em;
    overscroll-behavior-y: none;
    text-align: center;
}

/* TEXT */
h1 {
    color: ghostwhite;
    font-size: 3.5em;
    margin: 0.5em 0em;
    text-transform: capitalize;
}

h2 {
    color: ghostwhite;
    font-size: 2em;
    margin: 0.5em 0em;
    text-transform: uppercase;
}

h3 {
    color: floralwhite;
    font-size: 1.5em;
    margin-top: 1em;
    text-transform: uppercase;
}

.game-mode h3 {
    background-color: #e76f51;
    margin: 0em 0em;
    padding: 0.5em;
}

/* MAIN VIEW */
.center-bar {
    background-color: #2a9d8f;
    border-left: 0.2em solid #26465350;
    border-right: 0.2em solid #26465350;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 0.1em;
}

.game-title {
    flex-basis: 15%;
}

.game-mode-subscreen{
    align-items: center;
    display: flex;
    flex-basis: 85%;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-mode {
    cursor: crosshair;
    height: 14em;
    width: 40em;
}

.game-mode:hover {
    border-color: #e9c46a;
    box-shadow: 0 0.7em 0.5em -0.4em #e9c46a;
    transform: translateY(-0.25em);
}

.score-count {
    font-size: 1.5em;
}

.token{
    font-size: 4em;
    margin-bottom: 0.25em;
}

#classic {
    background-color: #e9c46a;
    border: 0.1em solid #fffaf0aa;
}

#challenge {
    background-color: #f4a261;
    border: 0.1em solid #fffaf0aa;
}

/* GAME VIEWS */
img {
    height: 13em;
    width: 13em;
}

.characters-subscreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3em;
}

.character {
    height: 13em;
    margin: 1.5em;
    width: 13em;
}

.character:hover {
    border-color: #e9c46a;
    box-shadow: 0 1.2em 0.6em -0.8em #e9c46a;
    transform: translateY(-0.25em);
    border-radius: 5%;
}

/* PLAYER & COMPUTER BARS */
.side-bar {
    background-color: #264653;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    padding: 0.1em;
}

/* BUTTONS */
button {
    background: none;
    border: 0.2em solid;
    color: #f4a261;
    cursor: crosshair;
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.0em;
    margin: 18em 0 0 2.5em;
    padding: 1em 2em;
    transition: all 0.25s;
    width: 8em;
}

button:hover {
    border-color: #e9c46a;
    box-shadow: 0 0.4em 0.4em -0.4em #e9c46a;
    color: floralwhite;
    transform: translateY(-0.25em);
}

#resetScoresButton {
    color: #e76f51;
    margin: 18em 0 0 4em;
}

#resetScoresButton:hover {
    color: floralwhite;
}

/* FUNCTIONALITY */
.hidden {
    display: none;
}
